<%- include('bolumler/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Bilgiler</h1>
    <p class="lead">Gizlilik önemlidir !</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/kayitol" role="button">Kayıt Ol</a>
    <a class="btn btn-dark btn-lg" href="/giris" role="button">Giriş Yap</a>
  </div>
</div>

<%- include('bolumler/footer') %>
