<%- include('bolumler/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Buradaki bilgiler gizli!</h1>
    <p class="secret-text">Buraya geldiğine göre şifreyi biliyor olmalısın..</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/cikisyap" role="button">Çıkış Yap</a>
    <a class="btn btn-dark btn-lg" href="/gonder" role="button">Bilgi Gönder</a>
  </div>
</div>

<%- include('bolumler/footer') %>
